body {
	background-color: #AE95AE;
	margin: 0;
	font-family: "PT Sans", "Arial", serif;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #582E58;
}

.page {
	position: relative;
	width: 920px;
	margin: 2.5em auto 1.25em;
	background-color: white;
	box-shadow: 15px -15px 25px 10px rgba(91,88,91,0.42);
	color: #6e7678;
	overflow: hidden;
}

.page::after {
	display: block;
	content: '';
	clear: both;
}

.left, .right {
	float: left;
	margin: 6.25em auto 4.4em;
}

.left {
	width: 40%;
	text-align: center;
}

.right {
	width: 60%;
	padding-left: 3em;
	padding-right: 3em;
	box-sizing: border-box;
}

.right::after {
	display: block;
	content: '';
	position: absolute;
	width: .18em;
	background-color: #AE95AE;
	top: 6.25em;
	bottom: 4.4em;
	margin-left: -3em;
}

.photo img {
	border-radius: 50%; 
    border: .2em solid #582E58;
    padding: .6em; 
}

.family, .name {
	font-size: 2.1em;
	margin-bottom: -.4em;
	color: #6e7678;	
	font-weight: normal;
	text-transform: uppercase;	
}

.name {
	font-weight: bold;
	font-size: 1.6em;
	margin-bottom: .78em;
	color: #582E58;
	letter-spacing: .15em;
}

.contacts {
	list-style: none;
	padding: 0;
	margin-left: 2.9em;
}

.contacts li {
	position: relative;	
    padding-left: 2.5em;
    margin: 1.7em 0;
	text-align: left;
}

.contacts li img {
	position: absolute;
	left: 0;
	top: 50%;
    margin-top: -1em;
	width: 2em;
	height: 2em;
}

.right header h2 {
	position: relative;
	font-size: 1.6em;
	text-align: center;
	color: #6e7678;
	margin-top: 1.5em;
	margin-bottom: -.4em;
	font-weight: normal;
	text-transform: uppercase;
}

.right header h2 span {
	background: white;
	position: relative;
	padding-left: 1em;
	padding-right: 1em;
}

.right header h2::before {
	position: absolute;
	display: block;
	content: '';
	background-color: #AE95AE;
	height: .1em;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -.06em;
}

.right h3 {
	text-transform: uppercase;
	color: #582E58;
	margin-bottom: -.53em;
	margin-top: 2.1em;
	letter-spacing: .21em;
}

.right p {
	padding-left: 1.25em;
}

.right li {
	margin-bottom: .75em;
}

@media (max-width: 920px) {

	.page {
		margin: 0;
		width: 100%;
	}
}

@media (max-width: 760px) {

	.page {
		font-size: .85em;
	}
}

@media (max-width: 660px) {

	.left, .right {
		float: none;
		width: 100%;
	}

	.right::after {
		display: none;
	}

	.contacts {
		width: 12em;
		margin-left: auto;
		margin-right: auto;
	}

	.left {
		margin: 2em 0;
	}

	.right {
		margin: 3.5em 0;
	}
}